body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(ilustracao-de-padrao-de-cores-doces-desenhadas-a-mao_23-2150579109.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    

}

header{
    background-color: palevioletred;
    padding: 10px 0;
    text-align: center;
}
footer{
    background-color: palevioletred;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contato {
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Adjust width as needed */
    background-color: #f8f8f8;
  }
  
  .contato h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contato p {
    margin-bottom: 10px;
  }
  
  .contato table {
    width: 100%;
    border-collapse: collapse; /* Remove default border spacing */
    margin-bottom: 20px;
  }
  
  .contato th,
  .contato td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .contato th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .contato tr:nth-child(odd) {
    background-color: #fff;
  }
  
  .contato .horario {
    display: flex;
    justify-content: space-between;
  }