body{
    background: url(imagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: palevioletred;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;

}

nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #151414;
    font-weight: bold;
}

form {
    width: 300px;
    margin: 0 auto; /* Centraliza o formulário */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: palevioletred;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Inclui padding e border no width */
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #4CAF50; /* Verde */
    color: white;
    cursor: pointer;
  }

  h2{
    text-align: center;
  }
  